:root {
  --color-dark: #b1ba96;
} 

.App {
  text-align: center;
  margin-top: 50px;
}

body {
  background: var(--color-dark);
  height: 100vh;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.wrap {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -150px;
  margin-bottom: 50px;
}
